<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="immagini/lendl.png" alt="" />
  </div>
  <div class="headings">
    <h2>PoPoSTaPo TeNNiS</h2>
    <h3>che vinca il migliore</h3>
    <a href="/tornei" class="btn">tornei</a>
  </div>
</header>

<%- include('partials/footer'); -%>
