<%- include('partials/header'); -%>
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,  initial-scale=1.0" />
    <title>Selezione Vincitore Torneo</title>
    <link rel="stylesheet" href="/css/pronostico.css" />
  </head>
  <body>
    <h1><%= tournament.name %></h1>
    <h2>Seleziona il vincitore</h2>

    <div id="semifinalists-list" class="semifinalists-container"></div>
    <button id="submit-button">Invia Pronostico</button>
    <button id="delete-button">cancella Pronostico</button>
    <h2>Seleziona i semifinalisti (max 4)</h2>
    <div id="players-list" class="players-container"></div>
    <script src="/js/pronostico.js"></script>
  </body>
</html>
<%- include('partials/footer'); -%>
